<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.udp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Udp">
        <activity
            android:name=".activity.OrderTrackingActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.BillActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.CustomerStateActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.CustomerTrackingActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.InputActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ServiceActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TcpActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>